<div class="content-wrapper">
    <div class="content-container">
        <div class="img-wrapper one">
            <div class="page-top">

            </div>
            <div class="page-bottom">

            </div>
        </div>
        <div class="img-wrapper two">
            <div class="page-top">

            </div>
            <div class="page-bottom">

            </div>
        </div>
        <div class="img-wrapper three">
            <div class="page-top">

            </div>
            <div class="page-bottom">

            </div>
        </div>
    </div>
</div>